
body { 
    padding-top: 50px; 
    color: #333;
    background-color:white;
   font-family: 'Nobile',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 18px;
    }

.navbar-brand>span>img {
  height: 35px;
  padding: 3px;
  width: auto;
}

.jumbotron {
    color: #fff;
    padding-bottom: 48px;
    margin-bottom: 0px;
}

.jumbotron-welcome {
    background-color:#18BC9C;
    color: #fff;
}

.jumbotron-vid {
    background-color:#fff;
    color: #000;
}

.jumbotron-2 {
    background-color: #ccc;
    color: #fff;
}

.jumbotron-3 {
    background-color: #5BC8AC;
    color: #fff;
}

.jumbotron-4 {
    background-color:  #98DBC6;
    color: #000;
}

.jumbotron-values {
    background-color:  #FDFFFF;
    color: #333;
}

.jumbotron-check-it-out {
    background-color: #e6d72a;;
    color: #333;    

}

.footer-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.footer-link {
  color: #FFF;
}

footer {
    color: #fff;
}


footer .footer-above {
    background-color: #004080;
    padding: 25px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.wrapper {
  width:250px;
  height:250px;
  max-width: 100%;
  margin: 5px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.wrapper img {
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
    height: auto;
  transform: translate(-50%,-50%)
}

a { cursor: pointer; cursor: hand; }

a:hover {
    text-decoration: underline;
}


table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

.borderless li {
  border: 0 none;
  font-size: 24px;
}

/******************************
POSTS
******************************/

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 5px;
}

.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.post h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: normal;
}

.post ul {
    margin-top: 0;
    margin-bottom: 10px;
}

/*************************/
