<div class="jumbotron masthead jumbotron-1">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="images/logo.png">
      </div>

      <div class="col-md-10 text-center">
        <h1>Path to Success!</h1>
        <p class="lead">Learn by practice. Help Students, teachers and parents stay focussed.</p>
        <p><a class="btn btn-lg btn-success" role="button">Get started today</a></p>
      </div>

    </div>
  </div>
</div>


<div class="jumbotron masthead jumbotron-vid">
  <div class="container">
    <h3 class="text-center">Quick Demo</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YFk_-44tlnY" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="jumbotron masthead jumbotron-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="wrapper">
            <img src="images/student.png" />
          </div>

          <div class="caption">
            <h3 class="text-center">I'm Anna</h3>
            <p class="text-center">I am a student. I want to get admission to the best school in Melbourne.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="wrapper">
            <img src="images/parent.png" alt="parent">
          </div>
          <div class="caption">
            <h3 class="text-center">I'm Thomas</h3>
            <p class="text-center">I am busy with my professional life. But I want to make sure I give the best for my kids.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="wrapper">
            <img src="images/teacher.png" alt="teacher">
          </div>
          <div class="caption">
            <h3 class="text-center">I'm Susan</h3>
            <p class="text-center">I am a teacher. I want to make sure that my students reach their full potential.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="jumbotron masthead jumbotron-3">
  <div class="container homeContaner3">
    <div class="row text-center">
      <h1>TOPMOST.com.au is for you.</h1>
    </div>
  </div>
</div>


<div class="jumbotron masthead jumbotron-5">
  <div class="container homeContaner3">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h2>Practice</h2>
        <p> </p>
        <i class="fa fa-pencil fa-5x fa-custom-color" aria-hidden="true"></i>

      </div>
      <div class="col-sm-4 text-center">
        <h2>Track</h2>
        <p></p>
        <i class="fa fa-line-chart fa-5x fa-custom-color" aria-hidden="true"></i>
      </div>
      <div class="col-sm-4 text-center">
        <h2>Achieve</h2>
        <p></p>
        <i class="fa fa-dot-circle-o fa-5x fa-custom-color" aria-hidden="true"></i>
      </div>
    </div>

  </div>

</div>